/* .navbar {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 41;
  } */

/* .gallery article figure {
    margin: 0 0 auto;
    padding: 0;
    flex-basis: 90%;
    } */

:root {
  --page-no: #d0d0d0;
}
.dark-theme {
  --page-no: #d0d0d0;
}

.gallery-wrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;
  padding-top: 8rem;
  padding-bottom: 5rem;
}

.gallery {
  display: flex;
  /* gap: 1rem; */
  height: 100%;
  padding-inline: 2rem;
  will-change: transform;
}

.gallery article {
  position: relative;
  flex: 0 0 auto;
  /* width: 34rem; */
  height: calc(100vh - 16rem);
  aspect-ratio: 58/80;
  padding-right: 1.75rem;
  overflow: hidden;
  transition: transform 0.3s;
}
.gallery article figure {
  margin: 0;
  padding: 0;
  height: 90%;
  /* aspect-ratio: 58/79; */
}
.gallery article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}
.gallery article h4 {
  font-family: "acumin-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -7%;
  margin: 0;
}
.gallery article p {
  margin: 0;
  padding: 0;
}
.gallery article .cover-link {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.filters {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 41;
  display: flex;
  width: fit-content;
  padding: 0.625rem 1.25rem;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
  border-radius: 0.6875rem;
  background: linear-gradient(90deg, #f0f0f0 0%, #e4e4e4 57.21%, #f4f4f4 100%);
}

.filters button {
  color: var(--secondary-color, #0d0d0d);
  border: 0 none;
  background: none transparent;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02625rem;
  text-transform: uppercase;
  cursor: pointer;
}

.filters button:hover {
  color: var(--text-color);
}
.filters button.active {
  font-weight: 700;
}

.hidden {
  display: none !important;
}

/* project details  */
.showcase {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: center; */
  /* align-items: center; */
  /* padding: 0 2rem; */
  height: 100vh;
}

.showcase article {
  flex: 0 0 99vw;
  display: grid;
  grid-template-columns: 56% 1fr;
  /* min-height: 100vh; */
}
.showcase article.no-detail {
  flex: 0 0 auto;
  grid-template-columns: 1fr 19.75rem;
}
.showcase article.last {
  flex: 0 0 auto;
  grid-template-columns: 1fr;
  align-content: center;
  padding-inline: 2rem;
}

.product-image {
  /* background: #fff; */
  min-height: 0;
  position: relative;
}

.product-image figure {
  padding: 0;
  margin: 0;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-image.vertical {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.product-details {
  background: var(--background-color);
  color: var(--secondary-color);
  padding: clamp(8rem, 16.5vh, 9.5rem) clamp(40px, 6.25vw, 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* overflow-y: auto; */
  min-height: 0;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  position: relative;
}

article.no-detail .product-details {
  /* padding: 4rem 3rem; */
  justify-content: flex-end;
}
article.last .product-image {
  width: 42.75rem;
  height: 48.4375rem;
  aspect-ratio: 218/247;
}
article.last .product-details {
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;
}
article.last a {
  color: var(--secondary-color);
}

.product-details h1 {
  color: var(--secondary-color);
  font-family: "degular", sans-serif;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: -1px;
  margin: 1rem 0 1rem;
}
.product-details span {
  color: var(--secondary-color);

  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  position: absolute;
  bottom: 4rem;
  left: 3rem;
}

.description {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.045rem;
  margin: 1rem 0;
}

.specs {
  margin-top: clamp(3rem, 8.75vh, 5rem);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.045rem;
}
.specs h4 {
  color: var(--footer-text-secondary);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem; /* 104.167% */
  letter-spacing: -0.06rem;
  margin: 0;
}
.specs p {
  margin: 12px 0;
}

.product-details .discuss {
  max-width: 15.75rem;
  color: var(--footer-text-secondary);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.045rem;
}

.product-details .discuss h4 {
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem; /* 116.667% */
  letter-spacing: -0.03rem;
  margin: 0;
}

.product-details .discuss p {
  margin-block: 0.625rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.045rem;
}

.product-details button {
  display: flex;
  padding: 1rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
  border-radius: 5rem;
  background: var(--secondary-color);
  color: var(--background-color);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.02625rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 300ms ease;
}
.product-details button img {
  height: 16px;
  flex-shrink: 0;
}
.product-details button:hover {
  opacity: 0.9;
}

.product-image .hover {
  position: absolute;
  inset: 0;
  top: calc(50% - 80px);
  left: calc(50% - 80px);
  width: 190px;
  height: 190px;
  background: transparent url("../images/circle.svg") no-repeat center;
  background-size: contain;
  color: #0d0d0d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem;
  letter-spacing: -0.06rem;
  text-transform: uppercase;
}

.services-list {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.48px;
  margin: 12px 0;
}

@media screen and (max-width: 768px) {
  .navbar {
    inset: 0;
    transform: none;
  }
  .container {
    grid-template-columns: 1fr;
    padding-top: 6rem;
  }
  .product-details {
    padding: 2rem;
  }
}
