/* Base styles already defined earlier */

/* Responsive adjustments */
@media (max-width: 1440px) {
  .projects-page .container {
    padding: 0 1rem;
  }
  .projects-page article {
    width: 38vw;
  }
}

@media (max-width: 768px) {
  main {
    padding-top: 5rem;
    padding-bottom: 0;
  }
  .grid {
    /* grid-template-columns: 1fr; Single column on mobile */
    display: block;
    width: 100%;
  }
  .grid section {
    margin-bottom: 2rem; /* Add spacing between sections on mobile */
    width: 100%; /* Make sections take full width on mobile */
  }

  main .container {
    padding: 0 1rem; /* Add horizontal padding on mobile */
  }

  main section.left h1 {
    font-size: 2.5rem; /* Adjust heading size for smaller screens */
  }

  main section.left p {
    font-size: 16px; /* Adjust paragraph size for smaller screens */
    max-width: 90%; /* Ensure text doesn't stretch too wide on mobile */
    line-height: normal; /* Adjust line height for better readability on smaller screens */
  }
  main section.middle p,
  .founders p {
    line-height: normal; /* Adjust line height for better readability on smaller screens */
    max-width: 90%; /* Ensure text doesn't stretch too wide on mobile */
  }
  .right .clients {
    gap: 2rem;
  }
  .clients .logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns for logos on mobile */
    gap: 1rem; /* Reduce gap between logos on mobile */
    justify-items: center;
    /* flex-direction: column; */
  }

  .projects-page .container {
    padding: 0;
  }

  .projects-page article {
    width: 90vw;
  }

  .desktop-logo {
    display: none;
  }
  .mobile-logo {
    display: block;
    margin: 6.25rem 1rem 0;
  }
  .mobile-logo img {
    /* max-width: calc(100vw - 2rem); */
    width: 100%;
    height: auto;
    display: block;
  }

}
