:root {
  --page-no: #d0d0d0;
}

.dark-theme {
  --page-no: #d0d0d0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "acumin-pro", sans-serif;
}
p {
  font-family: "degular", sans-serif;
}

th {
  font-family: "degular", sans-serif;
}
td {
  font-family: "degular", sans-serif;
}

.title-hd {
  position: relative;
  text-align: center;
}

.title-hd h1 {
  font-family: "acumin-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 250px;
  line-height: 200px;
  letter-spacing: -7%;
  vertical-align: middle;
  margin: 0px;
}

.title-hd h1 span {
  font-weight: 400;
  font-style: italic;
}

.title-hd p {
  font-family: "degular", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 1%;
  text-transform: uppercase;
  text-align: center;
  margin: 0px;
}

.wrapperarticle {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: var(--background-color);
}

/* .showcase article {
  flex: 0 0 99vw;
  margin-inline: 0.5vw;
} */

/* .dark-theme .btn.Gettouch img {
  filter: inherit;
} */

.btn.Gettouch {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  padding: 8px 24px;
  border-radius: 70px;
  background: var(--secondary-color);
  color: var(--footer-text);
  height: 58px;
  margin: 50px auto 0px;
  cursor: pointer;
}

/* .btn.Gettouch img {
  filter: invert(1);
} */
.scroll-indicator {
  width: 36px;
  height: 36px;
  margin: 20px auto 0;
  background-color: #f0f0f0;
  border-radius: 50%;
  display: none;
}
.scroll-arrow {
  width: 16px;
  height: 16px;
  display: block;
  transform: rotate(90deg);
  
}

.gridarticle {
  display: grid;
  grid-template-columns: 46% 1fr;
  min-height: 100vh;
  align-items: center;
  align-items: center;
}

.webp-image img {
  border-radius: 10px;
}

.details-text {
  padding: 0px 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  position: relative;
}

.gridarticle h4 {
  font-family: "acumin-pro", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: -7%;
  margin: 0px;
}

.details-text p {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -2%;
}

/* build-section */

.build-section {
  display: inline-block;
  padding: 8rem 0 2rem;
  position: relative;
}

.heading {
  text-align: center;
  margin-bottom: 50px;
}

.heading h2 {
  font-family: "acumin-pro", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: -7%;
  margin: 0px;
}

.heading p {
  font-family: "degular", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -4%;
  margin-top: 10px;
}

.heading strong {
  font-weight: 600;
}

.venn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.venn-wrapper p {
  font-family: "degular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -4%;
  margin: 0px;
}

.venn-diagram img {
  height: 48dvh;
  display: block;
  object-fit: contain;
  aspect-ratio: 1.75;
}

/* .circle {
  position: relative;
  width: 399px;
  height: 399px;
  border: 1px solid #4e4e4e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-left {
  left: 30px;
}

.circle-right {
  right: 30px;
}

.circle span {
  font-size: 14px;
  color: #222;
}

.center-shape {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 230px;
  transform: translate(-50%, -50%);
  background: url("../studio/images/Intersect.svg") center/contain no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-shape span {
  font-family: "acumin-pro", sans-serif;
  font-weight: 700;
  text-transform: lowercase;
  color: #fff;
  font-size: 16px;
} */

/* build-section */

.empathy-section {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 130px 60px 60px 100px;
}

.empathy-grid {
  display: grid;
  grid-template-columns: 380px 1fr 1fr 1fr;
  gap: 18px;
  align-items: stretch;
}

/* Left Content */
.content-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.small-image {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}

.small-image img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.content {
  padding: 0px 20px;
}

.content h2 {
  font-family: "acumin-pro", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -7%;
  margin: 0px;
}

.content p {
  font-family: "degular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -4%;
  margin-top: 20px;
}

/* Images */
.image-card {
  overflow: hidden;
  border-radius: 10px;
  height: 100%;
}

.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.large {
  min-height: 560px;
}

.stacked-images {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.stacked-images .image-card {
  height: calc(50% - 9px);
}

/* wall-of-fame */

.wall-of-fame {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wall-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  padding: 6.5rem 2.5rem 2.5rem;
}

.team-card {
  position: relative;
}

.team-card > img {
  width: 100%;
  height: calc(50vh - 8rem);
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.team-info {
  padding-top: 8px;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -2%;
}

.team-info h6 {
  font-size: 16px;
  font-weight: 400;
  margin: 0px;
}

.team-info span {
  color: #8a8a8a;
  display: block;
}

.fame-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.fame-content h2 {
  font-family: "acumin-pro", sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  letter-spacing: -7%;
  text-transform: uppercase;
  margin: 0px;
}

.fame-content p {
  font-family: "degular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: -4%;
  margin: 0px;
}

.team-card .linkedin-icon {
  position: absolute;
  bottom: 60px;
  right: 15px;
  z-index: 2;
  background: #0c0c0cf0;
  width: 35px;
  height: 35px;
  /* line-height: 35px; */
  border-radius: 10px;
  /* text-align: center; */
  display: inline-flex;
}

.team-card .linkedin-icon img {
  width: auto;
  /* border-radius: 0px; */
  /* display: inline-block; */
  object-fit: none;
}

/* cta-section */

.cta-section {
  display: block;
  align-items: center;
  justify-content: center;
}

.cta-content {
  text-align: center;
  padding-top: calc(8dvh + 2rem);
}

.cta-content h2 {
  font-family: "acumin-pro", sans-serif;
  font-weight: 700;
  font-size: 150px;
  line-height: 150px;
  letter-spacing: -7%;
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
}

.cta-images {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  vertical-align: middle;
  margin: 0;
}

.cta-images img {
  border-radius: 10px;
  object-fit: cover;
  display: block;
}

/* services page css */

.services-hd {
  text-align: center;
  max-width: 680px;
  margin: 0 auto;
}
.services-hd p {
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -4%;
  margin: 0px;
}

.services-hd h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 65px;
  line-height: 65px;
  letter-spacing: -7%;
  margin-top: 0px;
}

/* Floating Images */
.floating-images {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}
.floating-images .img {
  position: absolute;
  z-index: -1;
  width: 150px;
  height: 200px;
  object-fit: contain;
  border-radius: 6px;
  left: var(--float-start-left, 50%);
  top: 110vh;
  animation: floatUp 60s linear infinite;
}

@keyframes floatUp {
  0% {
    left: var(--float-start-left, 50%);
    transform: translateY(110vh) translateX(-50%);
    /* opacity: 0; */
  }

  10% {
    /* opacity: 1; */
  }

  50% {
    left: var(--float-start-left, 50%);
    transform: translateY(-20vh) translateX(-50%);
  }

  90% {
    /* opacity: 1; */
  }

  100% {
    left: var(--float-start-left, 50%);
    transform: translateY(-150vh) translateX(-50%);
    /* opacity: 0; */
  }
}

.branddlf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: calc(100vw - 300px);
  gap: calc(3vw + 1rem);
  margin-top: 6.5rem;
  padding: 1rem 3rem;
}

.brand-content {
  max-width: 886px;
  /* padding-top: 1rem; */
}

.brand-content h4,
.brand-image h4 {
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: -4%;
  margin: 0px;
}

.brand-content p,
.brand-image p {
  font-weight: 200;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -3%;
  color: var(--footer-text-secondary);
}

.brand-image {
  width: 480px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
}

.brand-image img {
  width: 100%;
  aspect-ratio: 0.8;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}
.brand-image video {
  width: 100%;
  aspect-ratio: 0.8;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.service-table {
  margin-top: 40px;
  width: 100%;
  /* overflow-x: auto; */
  /* -webkit-overflow-scrolling: touch; */
}
.service-table {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  /* gap: 1rem; */
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -3%;
}
.service-table .col::before {
  display: block;
  content: attr(data-title);
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  padding: 1rem 1rem;
}

.service-table .col div {
  padding: 1rem 2rem 1rem 1rem;
  border-top: 1px solid var(--footer-border);
  min-height: 58px;
} 

.globeheading {
  text-align: center;
  margin-bottom: 2rem;
}
.globeheading h3 {
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: -7%;
  margin-top: 0px;
}

.glob-section {
  /* position: relative; */
  display: block;
  padding: 7rem 2rem 2rem;
  text-align: center;
  background: var(--background-color);
}
.brandlogo ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4rem 1rem;
}
.brandlogo ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.brandlogo li img {
  max-width: 188px;
  max-height: 68px;
  object-fit: contain;
  display: block;
}

.dark-theme .brandlogo img {
  filter: grayscale(100%) brightness(0) invert(1);
}

/* services page css */

/* responsive css */

@media (max-width: 1600px) {
  .title-hd h1 {
    font-size: 160px;
  }
  .details-text {
    padding: 0px 60px;
  }
  .webp-image img {
    width: 100%;
  }
  .wall-of-fame {
    padding: 130px 1rem 60px;
  }
  .glob-section {
    padding: 8rem 1rem 20px;
  }
  .brandlogo ul {
    grid-template-columns: repeat(4, 1fr);
    gap: 4.25dvh 20px;
    height: 70dvh;
  }
  .brandlogo li img {
    max-width: 120px;
    max-height: 44px;
  }
  .cta-content h2 {
    /* font-size: 140px; */
    font-size: 18dvh;
    line-height: calc(18dvh + 0.5rem);
  }
  .btn.Gettouch {
    margin-top: calc(8dvh - 1rem);
  }
  .branddlf {
    flex-basis: calc(100vw - 100px);
  }
  .brand-content h4 {
    font-size: 50px;
    line-height: 70px;
  }
  .brand-image {
    width: 400px;
  }
  .globeheading h3 {
    font-size: 50px;
    line-height: 60px;
  }
  /* .service-table th {
    font-size: 20px;
    padding-block: 12px;
  }
  .service-table td {
    font-size: 16px;
    padding-block: 12px;
  } */
}

@media (max-width: 800px) {
  .title-hd h1 {
    font-size: 50px;
    line-height: normal;
  }
  .scroll-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn.Gettouch {
    margin: 2rem auto 1rem;
    padding: 1rem 2rem;
  }
  .gridarticle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: fit-content;
  }
  .details-text {
    padding: 0px 20px;
    order: 2;
  }
  .gridarticle h4 {
    font-size: 50px;
    line-height: normal;
    padding-inline: 20px;
  }
  .details-text p {
    margin-bottom: 12px;
    font-size: 16px;
    margin-top: 0px;
  }
  .webp-image {
    padding: 0px 20px;
  }

  .build-section {
    padding: 0;
  }
  .build-section .heading {
    text-align: left;
    padding: 1rem 20px;
    margin-bottom: 1rem;
  }
  .heading h2 {
    font-size: 50px;
    line-height: normal;
  }
  .heading p {
    font-size: 18px;
    line-height: 22px;
  }
  .heading p br {
    display: none;
  }
  .circle {
    width: 320px;
    height: 320px;
    margin: 0 auto;
  }
  .circle-left {
    left: 40px;
  }
  .circle-right {
    right: 40px;
  }
  .venn-wrapper {
    flex-direction: column;
    text-align: center;
    padding: 0px 20px;
  }
  .venn-diagram {
    margin-top: 20px;
    margin-bottom: 20px;
    order: -1;
  }
  .venn-wrapper .side-text.left {
    align-self: flex-start;
    text-align: left;
  }
  .venn-wrapper .side-text.right {
    align-self: flex-end;
    text-align: right;
  }

  .venn-diagram img {
    width: 100%;
    height: auto;
  }

  .empathy-section {
    padding: 0;
  }
  .empathy-grid {
    /* grid-template-columns: 380px 1fr; */
    padding: 2rem 20px;
  }
  .empathy-grid .content-box {
    flex-direction:column-reverse;
    gap: 1rem;
  }
  .empathy-grid .content-box .small-image,
  .empathy-grid .content-box .content {
    padding: 0;
    margin: 0;
  }

  .wall-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
  }
  .wall-of-fame {
    padding: 0px 20px 50px 20px;
    display: block;
  }

  .cta-content h2 {
    font-size: 50px;
    line-height: normal;
    margin-top: 0px;
  }
  .cta-content h2 br {
    display: none;
  }
  .cta-section {
    padding: 2rem 1rem;
  }
  .cta-content {
    padding-top: 0;
  }

  .brand-content {
    width: auto;
  }
  .services-hd h2 {
    font-size: 30px;
    line-height: normal;
  }
  .services-hd {
    padding: 0px 20px;
  }
  .brand-content h4,
  .brand-image h4 {
    font-size: 30px;
    line-height: normal;
  }
  .brand-content p,
  .brand-image p {
    font-size: 18px;
    margin-bottom: 1rem;
  }
  .branddlf {
    flex-direction: column-reverse;
    align-items: stretch;
    gap: 1rem;
    flex-basis: auto;
    margin: 0 auto;
    padding: 1rem 20px;
  }
  /* .brand-section {
    padding: 1rem 1rem;
  } */
  .brand-image {
    width: auto;
    /* margin-top: 20px; */
    /* margin-bottom: 30px; */
  }
  .brand-image img,
  .brand-image video {
    aspect-ratio: 1.63;
  }
  .glob-section {
    padding: 0;
  }
  .globeheading h3 {
    font-size: 30px;
    line-height: normal;
  }
  .brandlogo {
    overflow: auto;
    padding: 1rem 20px;
  }
  .brandlogo ul {
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
  }
  .brandlogo li img {
    max-width: 100px;
    max-height: 40px;
  }

  .service-table {
    margin-top: 0;
    grid-template-columns: auto;
    font-size: 16px;
  }
  .service-table .col::before {
    font-size: 16px;
    padding-left: 0;
  }
  .service-table .col div {
    padding-block: 0.5rem;
    padding-inline: 0 1rem;
    min-height: auto;
  }
  .service-table .col div:empty {
    display: none;
  }

  .globeheading {
    text-align: left;
    margin-bottom: 1rem;
    padding: 1rem 20px;
  }
  .globeheading h3 {
    font-size: 24px;
    line-height: 28px;
  }

  @keyframes floatUp {
    from {
      transform: translateY(50vh);
    }
    to {
      transform: translateY(-50vh);
    }
  }

  .circle-left {
    left: 20px;
  }
  .circle {
    width: 210px;
    height: 210px;
    margin: 0 auto;
  }
  .circle-right {
    right: 20px;
  }

  .empathy-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .wall-of-fame {
    padding: 1rem 20px 2rem;
    /* display: block; */
  }
  .wall-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0;
  }
  .fame-content {
    padding: 0px;
    order: -1;
  }
  .fame-content h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .fame-content h2 br {
    display: none;
  }
  .fame-content p {
    font-size: 16px;
    line-height: 20px;
  }

  .title-hd h1 {
    font-size: 40px;
  }
  .title-hd p {
    font-size: 20px;
    line-height: normal;
  }
  .details-text h4 {
    font-size: 40px;
  }
  .heading h2 {
    font-size: 40px;
  }
  .cta-images {
    width: 70px;
    height: 42px;
    vertical-align: -4px;
  }
  .cta-images video {
    width: 100%;
    height: 100%;
  }

}

